body{
    background-color: beige;
    height: 100%;
}

textarea{
    resize: none;
}

hr{
    transform: rotate(90deg);
    width: 5%;
}

.reordenar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: auto;
}

.reordenar hr{
   transform: rotate(90deg);
   width: 60px;
   margin: auto;
}

.reordenar div{
    width: 40%;
    text-align: center;
    overflow-y: hidden;
}

.t{
    top:16px
}

#root{
    padding-bottom: 50px;
}